/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 900px;
    background-color: #e6ae93;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo and Header Styling */
.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

/* Section Heading Styling */
h2 {
    color: #CC0000;
    text-align: left;
    margin-top: 30px;
}

/* Paragraph Styling */
p {
    text-align: left;
    line-height: 1.6;
    margin: 10px 0;
}

/* Italics and Emphasized Text */
em {

    font-style: italic;
}
footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: gray;
}
